@font-face {
    font-family: brandFont;
    src: url(font/basictitlefont.ttf) format(truetype);
	font-style:normal;
	font-weight:normal;
}
body {
	font-family: 'Abel', Arial, serif;
	padding:0;
	margin:0;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	max-width:100%;
	max-height:100%;
	list-style:none;
}
h1, h2, h3, h4{
	font-family: brandFont, 'Abel', serif;


}
a{
	text-decoration: none;
	
}
a:link {
	background-color: inherit;
	color: inherit;
}

a:visited {
    background-color: inherit;
	color: inherit;
}


header{
	padding: 1.5rem 45%;

}
	
	header h1{
		margin:0;
		font-size: 2.5rem;
		color: #0f1769;

	}
section{
	padding-top: 2em;
}
#wrapper{
	max-width:1920px;
	padding:0 1.5rem;
}
#chekcout {
	height:auto;
}
	#checkout h2{
		padding-bottom: 1.5em;
		margin: 0;
	}
	#checkoutProcessBar div{
		padding: 0.5em 2.5em;
		margin:0;
		background-color:#0f1769;
		color:#efeccd;
		display: inline-block;
	}
	#checkout form{
		border-top:1px solid black;
		
	}
	#checkout form h3{
		padding:0 1em;
	}
	#checkout form div div{
		padding: 1em;
	}
		#checkout form input {
			float: right;
		}
		#checkout form input:after{
			clear:both;
		}
[class*='button']{
	padding: 0.5em 2em;
	display: inline-block;
	color:#efeccd;
	background-color:#0f1769;
	width:25%;
	text-align:center;
	margin: 1em 0;
	
}
 	[class*='button']:hover, [class*='button']:active{
		background-color: #efeccd;
		color:#0f1769;
	
	} 
.buttonLeft{
}

.buttonRight{
	float:right;

}

nav {
	margin: 0;
	position: relative;
	background-color: #0f1769;
	color:#efeccd;
	bottom: 0;
	width: 100%;
	list-style:none;
	font-size: 1.3rem;
	font-family: brandFont, 'Abel', serif;
}
	#siteSearch form{
		display: inline-block;
		padding: 1.5em 1em;
	}
		#siteSearch div{
			display:inline-block;
			font-size:0.6em;
			
		} 
		
	nav ul{
		margin:0;
		padding:0;
		display: inline-table;
		position:relatve;

	}
	nav ul:after {
		content:" ";
		clear: both; 
		display: block;
	}
		nav ul li{
			display:inline;
		}
		nav ul li:hover > ul {
			display: block;
		}
			nav ul li a {
				display: inline-block;
				width:100%;
				padding-top: 1.5em;
				padding-bottom: 1.5em;
				text-align:center;
				
			}
			nav ul li:hover, na ul li:active{
				color: #0f1769;
				background-color: #efeccd;
			}
				nav ul ul{
					display:none;
					position:absolute;
					bottom: 100%;
					font-size: 0.8em;
					width:10%;
				}
 					nav ul ul li {
						display:block;
						background-color: #0f1769;
						color:#efeccd;
						
						
					} 
					nav ul ul li:hover, na ul ul li:active{
						color: #0f1769;
						background-color: #efeccd;
					}
						nav ul ul li a{
							width:100%;
						}
#sideNav{
	border:1px solid #ccc;
}

#productList{
	padding: 0 2rem;

}


/*below is ziqi editted code*/
